.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 1px !important;
    padding-top:2px;
}

.form-textbox {
    width: 100%;
    margin: 2px 0;
    background-color: aliceblue;
    /*color: white;*/
}
.form_title {
    /*width: 100%;*/
    margin: 2px 0;
    background-color: mediumpurple;
    color: white;
    height: 28px;
}

input[type="text"]:read-only {
    background: #dddddd;
}



.ui-dialog .ui-dialog-title {
    margin: 0 !important;
}

.ui-dialog-titlebar-close span {
    display: inline-block !important;
}

.form-combobox {
    width: 100%;
    margin: 2px 0;
    background-color: aliceblue;
    height:25px;
    /*color: white;*/
}